#output TD {
  width: 1em;
  height: 1em;
}
.rowHeader {
  display: flex;
  min-height: 2.5em;
  align-items: center;
}
.encircle {
  clip-path:circle(1.25em);
}
.headerColorGroup {
  width: 2.5em;
}
.gradientBackground {
  background: linear-gradient(to right, black, white);
}
